.details{
    flex: 1;


    .user{
        padding: 30px 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 100px;
         height: 100px;
         border-radius: 50%;
         object-fit: cover;
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 25px;
        justify-content: space-between;
       
        button{
            background: rgb(230, 79, 105, 0.553);
            padding: 15px ;
            
            border-radius: 10px;
            cursor: pointer;
            color: white;
            border: none;

            &:hover{
                background: rgba(25, 11, 13, 0.553);



            }

            &.logout{
                background: rgba(1, 9, 111, 0.857);
                padding: 10px ;
                color: #ffffff;
                
                border-radius: 10px;            }

        }


        .option{

            .title{

                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                width: 30px;
                 height: 30px;
                background-color: rgba(17, 25, 40, 0.3);
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                }
            }
                .photos{
                    display: flex;
                    gap: 20px;
                    flex-direction: column;margin-top: 10px;padding: 3px;

                    .photoItem{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .photoDetail{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            

                            img{

                                width: 40px;
                                height: 40px;
                                border-radius: 5px;
                                object-fit: cover;
                            }
                            span{
                                font-size: 14px;
                                color: lightgray;
                                font-weight: 300;
                            }

                            }

                        
    
                    }
                 
                }

        }
    }
}